.nutriBloc {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 160px;
  gap: 45px;
  .nutriInfo {
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    padding: 20px;
    height: 60px;
    border-radius: 5px;
    .icon {
      display: flex;
      margin-right: 20px;
      img {
        width: 90%;
      }
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    .value {
      font-size: 14px;
      font-weight: bold;
      color: black;
    }

    .label {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 100;
      color: #74798c;
      margin-bottom: 5px;
    }
  }
}
