.wave-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0; /* Exemple de couleur de fond pour le profil */
}
