.layout {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  margin-left: 120px;
  align-items: center;
  padding: 20px;
  gap: 20px;

  .left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
  }
  .row-chart {
    display: flex;
    gap: 20px;
  }
}
// Pour les écrans à partir de 1024px
@media (max-width: 1024px) and (max-height: 780px) {
}
