.mainSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(780px - 80px);
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
  gap: 50px;

  .secondContent {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .charts {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .rowChart {
      height: 45%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
