header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  img {
    height: 50px;
    width: auto;
    padding-left: 20px;
  }

  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    gap: 180px;

    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
  }

  // Pour les écrans à partir de 1024px
  @media (max-width: 1024px) and (max-height: 780px) {
    .navContainer {
      gap: 150px;
    }
  }
}
