.score-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  h1 {
    font-size: 15px;
  }
  /* // Pour les écrans à partir de 1024px
  @media (max-width: 1024px) and (max-height: 780px) {
    .score-container {
    }
  } */
}
